/* @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  background-color: #0040c1;
  position: relative;
  height: 60%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 6s ease-in forwards infinite;
          animation: cube 6s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #0051f4;
}
.cube:nth-child(2) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    left: 50vw;
    top: 10vh;
  }
  

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
} */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  background-color: black;
  position: relative;
  height: 60%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}

.cube {
  position: absolute;
  top: 28vh;
  left: 45vw;
  width: 3px;
  height: 3px;
  border: solid 4px white;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color:black;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 25vw;
  top: 25vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 75vw;
  top: 30vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 90vw;
  top: 50vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 10vw;
  top: 15vh;
}
.cube:nth-child(6) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  .cube:nth-child(9) {
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
    left: 60vw;
    top: 30vh;
  }
  .cube:nth-child(10) {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
    left: 20vw;
    top: 29vh;
  }
  .cube:nth-child(8) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    left: 80vw;
    top: 20vh;
  }.cube:nth-child(7) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    left: 10vw;
    top: 40vh;
  }

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
