body {
  background-image: url(../images/disc-opp-3.jpg);
  cursor: default;
}
div.paragraph {
	font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-align: left;
}
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=70);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.button-container {
	width: 100%;
	margin: 0 auto;
}

.button {
  border: 3px solid #565656;
  color: #565656;
  padding: 14px;
  border-style: solid;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: bold;
  width: 180px;
  text-decoration: none;
  border-radius: 100px;
  opacity: 0.9;
}

.button:hover{
  border: 0px;
  background-color: #ffffff;
  color: #565656;
  opacity: 0.8;
}