.body {
	background-color: #EAEAEA;
}

.about-events {
	background-color: #b19cd9;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
	height: 100vh;
	position: fixed;
}

div.paragraph {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	padding: 20px;
}

.paragraph .heading {
	font-size: 35px;
	text-align: center;
}

.paragraph .parabody {
	font-size: 25px;
	text-align: justify;
}

.card {
	background-color: #84CEEB;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	height: 100vh;
	margin: 10px;
	padding: 30px;
}

.img-box {
	height: 100%;
	width: 100%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.button-container {
	margin: 0 auto;
	width: 100%;
}
.reg-button {
	background-color: #8860D0;
	border-radius: 10px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 100;
	padding: 14px;
	text-align: center;
  	width: 180px;
}

.reg-button:hover {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
	opacity: 0.8;
}

