.body {
	background-color: #EAEAEA;
}

.about-events {
	height: 100vh;
	background-color: #b19cd9;
	position: fixed;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.4);
}

div.paragraph {
	padding: 20px;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

.paragraph .heading{
	text-align: center;
	font-size: 35px;
}

.paragraph .parabody{
	font-size: 25px;
	text-align: justify;
}

.card {
	height: 100vh;
	background-color: #84CEEB;
	padding: 30px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	margin: 10px;
}

.img-box {
	width: 100%;
	height: 100%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.button-container {
	width: 100%;
	margin: 0 auto;
}
.reg-button {
	background-color: #8860D0;
	color: white;
	padding: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-align: center;
	width: 180px;
	border-radius: 10px;
  	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.reg-button:hover {
	opacity: 0.8;
	 box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
}

