h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 3px solid #fff;
    background:transparent;
    padding: 0;
    border-radius:100px;
    height: 60px;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    color:#fff;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #fff;
    float: right;
    margin-top: -15px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
    color: #fff;
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    color: #fff
}