.body{
	background-color: #EAEAEA;
}

.header{
	background-color: #5f4391;
	position: fixed;
	z-index: 10;
	
}

.header.active {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
.options{
	text-align: end;
}
.nav-options ul li a{
	padding-top: 10px;
	width: auto;
	height: 110%;
	font-size: 27px;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Advent Pro';
	text-align: right;
}

.chapter_name{
	text-align: center;
	font-size: 30px;
	font-family: 'Advent Pro';
	text-decoration: none;
	color: #ffffff;
}

.nav-options ul > li a:hover {
	background-color:#ab8fde;
	opacity: 0.7;
}

.logo{
	margin-top: 5px;
}
.main-header{
	font-family: 'Advent Pro';
	text-align: center;
	background-image: linear-gradient(#5f4391,#5f4391,#8860D0, #8860D0,#8860D0, #ab8fde);
	color: #ffffff;
}

.about{
	align-items: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	padding: 25px;
	background-color: #EAEAEA;
}

.about-card{
	margin: auto;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 10;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}


.officers{
	padding: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	text-align: center;
	background-image: linear-gradient(#ab8fde, #8860D0,#8860D0);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

hr {
	color: #ffffff;
	opacity: 0.6;
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
}

.contact-us {
	margin: auto;
	padding-top: 20px;
	background-image: linear-gradient(#84CEEB, #5680e9 , #5680e9);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.card{
	border-color: transparent;
	background-color: transparent;
}

.card-body{
	font-family: 'Lato', sans-serif;
}

.card-body name{
	font-size: 30px;
}

.card-body role{
	font-size: 20px;
}

.fa { 
	padding: 15px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.5;
}

.officers .fa-facebook {
	background-image: linear-gradient(#5AB9EA,#5AB9EA);
	color: white;
}

.officers .fa-linkedin {
	background-image: linear-gradient(#5AB9EA,#5AB9EA);
	color: white;
}


.carousel-inner{
	background-image: linear-gradient(to right,#84CEEB, #5680e9)
}

.carousel {
	background-color: transparent;
}

.activities{
	background-color: #EAEAEA;
	padding-bottom: 20px;
}

.carousel-item{
	padding: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-align: justify;
}
.carousel-item heading{
	font-size: 35px;
}

.carousel-item parabody{
	font-size: 25px;
}

.carousel-control-prev {
  margin-left: -6%;
}

.carousel-control-next {
  margin-right: -6%;
}

.contact-us .fa-facebook {
	border-color: #ffffff;
	border: 3px solid #ffffff;
	color: white;
	margin: 10px;
}

.contact-us .fa-linkedin {
	border-color: #ffffff;
	border: 3px solid #ffffff;
	color: white;
	margin: 10px;
}

.contact-us .fa-instagram {
	border-color: #ffffff;
	border: 3px solid #ffffff;
	color: white;
	margin: 10px;
}

.contact-us .fa-instagram:hover {
	background: #ffffff;
	color: #5959ff;
	opacity: 0.7;
}

.contact-us .fa-facebook:hover {
	background: #ffffff;
	color: #5959ff;
	opacity: 0.7;
}

.contact-us .fa-linkedin:hover {
	background: #ffffff;
	color: #5959ff;
	opacity: 0.7;
}

.email-button {
  border: 3px solid #ffffff;
  color: #ffffff;
  padding: 14px;
  border-style: solid;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: bold;
  width: 180px;
  text-decoration: none;
  border-radius: 100px;
  opacity: 0.9;
}

.email-button:hover{
	border: 0px;
	background-color: #ffffff;
	color: #5959ff;
	opacity: 0.8;
}
.header-text {
	margin-top:100px;
}

img {
	
	width:100%;
}

.img-logo {
	height:60px;
	width:60px;
}

.paragraph heading{
	text-align: center;
}

.paragraph parabody{
	font-size: 25px;
	text-align: justify;
}

.main-header p1{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.main-header {
	padding: 20px;
	height: 100vh;
}


/* xs */
@media (min-width: 0px) { 

	.paragraph heading{
		font-size: 30px;
	}

	.paragraph parabody{
		font-size: 20px;
	}

	.main-header p1{
		font-size: 140px;
	}

	.main-header p1{
		font-size: 50px;
	}
	
	.main-header p2{
		font-size: 35px;
	}
}

/* sm */
@media (min-width: 576px) { 

	.paragraph heading{
		font-size: 30px;
	}

	.paragraph parabody{
		font-size: 20px;
	}

	.main-header p1{
		font-size: 140px;
	}

	.main-header p1{
		font-size: 85px;
	}

	.main-header p2{
		font-size: 40px;
	}

}

/* md */
@media (min-width: 768px) {

	.paragraph heading{
		font-size: 35px;
	}

	.paragraph parabody{
		font-size: 25px;
	}

	.main-header p1{
		font-size: 140px;
	}

	.main-header p1{
		font-size: 120px;
	}
	
	.main-header p2{
		font-size: 55px;
	}

}

/* lg */
@media (min-width: 992px) {

	.paragraph heading{
		font-size: 35px;
	}

	.paragraph parabody{
		font-size: 25px;
	}

	.main-header p1{
		font-size: 140px;
	}

	.main-header p1{
		font-size: 140px;
	}
	
	.main-header p2{
		font-size: 60px;
	} 

}

/* xl */
@media (min-width: 1200px) { 

	.paragraph heading{
		font-size: 35px;
	}

	.paragraph parabody{
		font-size: 25px;
	}

	.main-header p1{
		font-size: 140px;
	}
	
	.main-header p2{
		font-size: 60px;
	}
}

