body {
  background-image: url(../images/mentorship.jpg);
  height: 100%
  background-position: center;
  background-repeat: no-repeat;
  cursor: default;
}
div.paragraph {
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=70);
  height: 100%
  background-position: center;
  background-repeat: no-repeat;
}

.button-container {
	width: 100%;
	margin: 0 auto;
}
.button {
  border: 3px solid #ffffff;
  color: white;
  padding: 14px;
  border-style: solid;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: bold;
  width: 180px;
  text-decoration: none;
  border-radius: 100px;
  opacity: 0.9;
}

.button:hover{
	background-color: #ffffff;
	color: #5959ff;
	opacity: 0.7;
}