body{
	margin: 0px;
	padding: 0px;
}

.navigationbar {
	margin-bottom: 0px;
}
.navigationbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #b2ebf2;
}

.navigationbar ul > li a {
	text-decoration: none;
	color: rgb(0,0,0);
	font-family: 'Advent Pro';
	font-size: 24px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}

.navigationbar ul > li a:hover {
	background-color: #81b9bf;
}

.title{
	display:inline-block;
	width: 100%;
	height: 100%;
	margin-top:0px; 
	padding-bottom: 12px; 
	background-color: #ba68c8;
	font-size: 25px;
}
.title p{
	font-family: "Advent Pro";
	text-align: center;
	font-size: 40px;
	color: white;
}

.title > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.title ul > li {
	float: right;
}

.fa {
	float: right;
	margin-right: 5px;
	padding: 15px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
	background-color: #ee98fb;
}

.fa-facebook {
	background: #883997;
	color: white;
}

.fa-linkedin {
	background: #883997 ;
	color: white;
}
.fa-instagram {
	background: #883997;
	color: white;
}

.about{
	background-image: url("about.jpg");
	font-size: 40px;
	text-align: center;
	font-family: 'Advent Pro';
}
